$background: #282F44 !default;
$background-header: linear-gradient(90deg, rgba(40,47,68,1) 0%, rgba(23,28,40,1) 100%);
$background-sidebar: linear-gradient(to bottom, rgba(40,47,68,1) 0%, rgba(23,28,40,1) 100%);
